body {
  margin: 0;
}

header {
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
	display: flex;
	align-items: center;
	z-index: 1;
	position: fixed;
	height: 75px;
	width: 100%;
	border-bottom: 1px solid black;
	text-align: center;
}

.logo {
	display: flex;
	align-items: center;
	padding-left: 20px;
	flex-grow: 1;
}

.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

.logo span {
	color: MediumAquamarine;
	
}

nav span {
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
}

a {
	color: black;
}

/*nav {
	border: 1px solid red;
}*/

header nav {
	padding-right: 50px;
}
